.dictManagement {
}
.ant-modal-footer {
  text-align: center;
}
.alignCenter {
  text-align: center;
}
.tableImg {
  width: 20px;
  height: 20px;
  text-align: center;
  margin: 0 auto;
  img {
    height: 20px;
    width: auto;
  }
}