.Option4 {
  display: flex;
  flex: 1;
  overflow: hidden;
  .borderPage {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .centerPage {
    flex: 2;
    height: 100%;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
  }
  .contentItem {
    padding: 10px;
    background: #F2F7FD;
    flex: 1;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    .content {
      flex: 1;
      margin-top: 10px;
    }
  }
  .maxBottom {
    margin-bottom: 0;
  }
}