.CardNum {
  display: flex;
  height: 100%;
  .cardItem {
    flex: 1;
    background: linear-gradient(0deg, #f8fcff, #dff1fc);
    box-shadow: 0 1px 1px rgba(28, 133, 243, 0.19);
    border-radius: 10px;
    padding: 20px;
    height: 100%;
  }
}